ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}

ol {
  margin: -20px 20px;
  font-family: "Open Sans", sans-serif;
  font-size: larger;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-family: "Audiowide", sans-serif;
  margin-top: 10px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

p {
  margin: -20px 20px;
  font-family: "Open Sans", sans-serif;
  font-size: larger;
  text-align: justify;
}

.active {
  background-color: #04AA6D;
}

.section {
  width: 100%;
  height: 50vh;
  background-color: #565555;
  font-size: 30px;
  color: white;
  align-items: center;
  margin: 10px 1px;
}

img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 460px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}